.wc-bracket {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 60px;

    min-width: max-content;
}

.bracket-svg {
    position: absolute;

    inset: 0;
    width: 100%;
    height: 100%;

    pointer-events: none;
    overflow: visible;
}

.connector {
    fill: none;
    stroke: rgba(255, 255, 255, 0.7);
    stroke-width: 2;
}

.bracket-side {
    display: flex;
    gap: 60px;
}

.bracket-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.round {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center-column {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.center-column::before {
    content: "";

    position: absolute;

    top: 230px;
    bottom: 180px;

    width: 2px;

    background: gold;
}

.match-card {
    position: relative;
    width: 220px;

    background: rgba(255, 255, 255, 0.08);

    border: 1px solid lightgrey;

    border-radius: 12px;

    padding: 10px;
}

.match-card.large {
    width: 300px;

    border: 2px solid gold;

    box-shadow:
        0 0 10px rgba(255, 215, 0, 0.3),
        0 0 20px rgba(255, 215, 0, 0.2);
}

.team {
    display: flex;
    justify-content: space-between;

    padding: 6px 0;
}

.team:first-child {
    border-bottom: 1px solid lightgrey;
}

.round32 .match-card::after {
    content: "";

    position: absolute;

    right: -30px;
    top: 47.5%;

    width: 30px;
    height: 2px;

    background: lightgrey;
}

.round32 .match-card:nth-child(odd)::before {
    content: "";

    position: absolute;

    top: 50%;
    right: -30px;

    width: 2px;
    height: calc(100% + 30px);

    background: lightgrey;
}

.round16 .match-card:nth-child(odd)::after {
    content: "";

    position: absolute;

    top: 50%;
    right: -30px;

    width: 2px;
    height: calc(100% + 120px);

    background: lightgrey;
}

.quarter .match-card:nth-child(odd)::after {
    content: "";

    position: absolute;

    top: 50%;
    right: -30px;

    width: 2px;
    height: calc(100% + 300px);

    background: lightgrey;
}

.round32 {
    gap: 30px;
}

.round16 {
    gap: 150px;
}

.quarter {
    gap: 400px;
}

.round16 .match-card::before,
.quarter .match-card::before,
.semi .match-card::before {
    content: "";

    position: absolute;

    left: -30px;
    top: 50%;

    width: 30px;
    height: 2px;

    background: lightgrey;
}

.right .match-card::after {
    left: -30px;
    right: auto;
}

.right .match-card:nth-child(odd)::before {
    left: -30px;
    right: auto;
}

.left .semi .match-card::before {
    content: "";

    position: absolute;

    right: -60px;
    top: 50%;

    width: 60px;
    height: 2px;

    background: gold;
}

.right .semi .match-card::before {
    content: "";

    position: absolute;

    left: -60px;
    top: 50%;

    width: 60px;
    height: 2px;

    background: gold;
}

.left .semi .match-card::after {
    content: "";

    position: absolute;

    right: -60px;
    top: 50%;

    width: 60px;
    height: 2px;

    background: gold;
}

.right .semi .match-card::after {
    content: "";

    position: absolute;

    left: -60px;
    top: 50%;

    width: 60px;
    height: 2px;

    background: gold;
}

.third-place {
    margin-top: 00px;
}

.third-place .match-card {
    opacity: 0.9;
}

@media (max-width: 768px) {
    .wc-bracket {
        justify-content: flex-start;

        overflow-x: auto;

        padding-bottom: 20px;
    }

    .match-card {
        width: 160px;
        font-size: 0.85rem;
    }

    .match-card.large {
        width: 200px;
    }

    .bracket-side {
        gap: 20px;
    }

    .wc-bracket::-webkit-scrollbar {
        height: 8px;
    }
}
