:root {
    --round32-gap: 50px;
    --round16-gap: 200px;
    --quarter-gap: 500px;
    --semi-gap: 0px;
}

.round {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Round Spacing */
.round32 {
    gap: var(--round32-gap);
}

.round16 {
    gap: var(--round16-gap);
}

.quarter {
    gap: var(--quarter-gap);
}

@media (max-width: 768px) {
    :root {
        --round32-gap: 40px;
        --round16-gap: 200px;
        --quarter-gap: 520px;
        --semi-gap: 1150px;
    }
}