.name-input {
    font-family: "Geist", sans-serif;
    background-color: transparent;
    font-weight: 200;
    font-size: 20px;
    padding-inline: 1em;
    padding-block: 0.8em;
    color: whitesmoke;
    border: none;
    transition: all 0.3s ease-out;
}

.name-input:focus {
    outline: none;
}

.search-input {
    font-family: "FWC2026 Normal", sans-serif;
    color: whitesmoke;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    border: none;
    transition: all 0.3s ease-out;
}

.pot-search.show .search-input {
    font-size: 18px;
}

.search-input:focus {
    outline: none;
}

.search-input-alt {
    font-size: 24px;
    padding-inline: 1em;
    padding-block: 0.8em;
}

.clear-input-btn {
    position: absolute;

    top: 50%;
    right: 12px;

    transform: translateY(-50%);

    border: none;
    background: transparent;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5em;
    color: whitesmoke;
    filter: drop-shadow(0 8px 32px rgba(0, 0, 0, 0.25));

    transition: 0.2s;
}

.clear-input-btn:hover {
    color: white;
}

@media (max-width: 768px) {
    .search-input {
        height: 100%;
    }

    .search-input-alt {
        padding-top: 0;
        padding-bottom: 0;
    }
}
